<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Creatuity\AIContent\Model\Config\Source\AIProviderOptionSource">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="openai" xsi:type="array">
                    <item name="label" xsi:type="string">OpenAI</item>
                    <item name="value" xsi:type="const">Creatuity\AIContentOpenAI\Model\AIProvider\OpenAIProvider::NAME</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Creatuity\AIContent\Model\GetAIProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="openai" xsi:type="object">Creatuity\AIContentOpenAI\Model\AIProvider\OpenAIProvider</item>
            </argument>
        </arguments>
    </type>
</config>
