<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="creatuityaicontent">
            <group id="openai_api" translate="label comment" type="text" sortOrder="20" showInStore="0" showInDefault="1" showInWebsite="0">
                <label>OpenAI API</label>
                <field id="api_key" translate="label" sortOrder="10" type="obscure" showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="model_name" translate="label" sortOrder="20" type="select" showInStore="0" showInDefault="1" showInWebsite="0" canRestore="1">
                    <label>Model Name</label>
                    <source_model>Creatuity\AIContentOpenAI\OptionSource\GetModelsOptionSource</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
